.center-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100vh;
    width: 70%;
    margin-left: 15%;
}

input[type="password"]:focus {
    outline: none;
    border: none;
}